body {
  background-color: bisque;
}

h1 {
  color: #c0392b;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
