body {
  background-color: #ecf0f1;
}

.btn {
  cursor: pointer;
}

body {
  color: #34495e;
}

.clicked {
  color: #7f8c8d;
}
/* 입력 창의 display 를 none , 나타날 텍스트 display 를 block 으로 설정하여 
사용자 이름을 입력하면 입력 창은 사라지고 텍스트가 등장하게 된다. */
.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
